#building-cursor, #building-grandma{
    background-image: url('../../images/store-tile.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    cursor: pointer;
    width: 100%;
    /* height: 100px; */
    padding: 0.7em;
    transition-duration: 0.2s;
    display: flex;
    justify-content: flex-start;
}

#building-cursor:hover, #building-grandma:hover{
    box-shadow: inset 0px 0px 15px 3px #ffffff;
}

.name{
    font-size: 20.8px;
    text-shadow: 0px 0px 4px #000000;
    background-color: red;
}

.cost{
    background-image: url('../../images/');
    background-repeat: no-repeat;
    font-size: 11.2px;
    color: #66ff66;
    text-shadow: 0px 1px 4px #000000;
    background-color: green;
}

.name, .cost{
    font-weight: bold;
}

.icon{
    position: relative;
    background: url('../../images/buildings.png') 5px 0px;
    height: 150%;
    width: 25%;
    /* background-color: yellow; */
    left: -20px;
    bottom: 10px;
}

.locked{
    /* Pour plus tard */
}

.disabled{
    /* Pour plus tard */
    color: #ff6666;
}
