#buildings {
    background-image: url('../../images/panel-horizontal.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 16px;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 4px #000000;
    /* background: red; */
}

#buildings::before {
    padding: 1px 2px;
    position: absolute;
    content: 'Buildings';
    margin-top: -16px;
    opacity: 0;
}

#buildings:hover::before {
    opacity: 1;
    transition: 0.75s;
}

[id^='building-']{
    background-image: url('../../images/store-tile.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    cursor: pointer;
    width: 100%;
    /* height: 100px; */
    /* padding: 0.1em; */
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

[id^='building-']:hover{
    box-shadow: inset 0px 0px 15px 3px #ffffff;
}

.name {
    font-size: 20.8px;
    text-shadow: 0px 0px 4px #000000;
    /* background-color: red; */
}

.cost {
    background-image: url('../../images/money.png');
    background-repeat: no-repeat;
    font-size: 11.2px;
    text-shadow: 0px 1px 4px #000000;
    /* color: #66ff66; */
    width: 3.8vw;
    height: 16px;
    text-align: center;
    /* background-color: green; */
}

.name,
.cost {
    font-weight: bold;
}

.icon {
    position: relative;
    height: 60px;
    width: 25%;
    left: -10px;
    bottom: 0px;
    background: url('../../images/buildings.png');
}

.locked{
    /* Pour plus tard */
    content: '';
    color: #ff6666;
}

.disabled .cost{
    color: #ff6666
}

.disabled::after{
    content: '';
    background-color: black;
    opacity: 0.5;
    position: absolute;
    height: 8vh;
    width: 19.8vw;
    color: #ff6666;
}
