#bakery{
    /* background-color: red; */
    height: 100%;
    min-width: 250px;
    max-width: 400px;
    flex: 1;
    text-align: center;
    padding-top: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 1) 86%);
}

#cookies{
    background-color: black;
    opacity: 0.5;
}

#cookiesStock{
    font-size: 30px;
}

#cookiesStock > span{
    font-size: 30px;
}

#bigCookie{
    background-color: green;
    border-radius: 999px;
    height: 225px;
    width: 225px;
    background-image: url('../../images/perfect-cookie.png');
    background-size: 110%;
    background-position: center;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 60px 8px #ffffff;
    cursor: pointer;
    transition-duration: 0.5s;
}

#bigCookie:hover {
    transform: scale(1.1);
}

#bigCookie:active {
    transform: scale(0.95);
}

#divIncrement {
    animation-name: cookies;
    animation-duration: 3s;
    position: absolute;
    margin-top:-210px;
    margin-left: -100px;
    font-size: 20.8px;
    font-weight: bold;
}

@keyframes cookies {
    0%{
        opacity: 1;
    }

    20%{
        opacity: 0.5;
    }

    50%{
        opacity: 0.2;
    }

    100%{
        opacity: 0;
        transform: translateY(-200px);
    }
}