#game {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /* background-color: purple; */
}

.separator {
    width: 16px;
    background-image: url('../../images/panel-vertical.png');
}